/*
Theme Name:     Largo Project Documentation Site
Theme URI:      http://largoproject.org
Description:    Child theme for Project Largo documentation site
Author:         Adam Schweigert/Media Toybox
Author URI:     http://adamschweigert.com
Template:       largo
Version:        0.1.0
*/
.homepage-content p.intro {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  padding: 16px 24px 20px;
  background-color: #2777BB;
  border: 1px solid #ddd;
  color:#fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.homepage-content p.intro a {
  color: #fff;
  font-weight: bold;
}
.homepage-1col {
  margin: 0 20px 40px 0;
}
.homepage-1col img.homepage-screenshot {
  width:30%;
  margin-right:2%;
  margin-bottom:24px;
}
.homepage-1col span.small {
  font-size: 11px;
  color: #999;
}
.homepage-2col {
  width:47.5%;
  margin:0 0 20px;
}
.homepage-2col h3 {
  border-top: 1px solid #ccc;
  border-bottom: 3px solid #ccc;
  font-size: 18px;
  text-transform: uppercase;
  padding: 4px;
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .homepage-1col,
  .homepage-2col {
    width: 100%;
    margin: 0 0 20px
  }
}
@media (max-width: 480px) {
  .homepage-content p.intro {
    font-size: 16px;
  }
  .homepage-1col img.homepage-screenshot {
    width: 100%;
    margin: 0 0 20px
  }
}
